{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    {{ include('elements/header.html.twig') }}
    <main class="global-container-all global-container-small flex w-full">

        <div class ="relative w-full md:w-1/2 border border-blue flex justify-center flex-col items-center font-open-sans font-light ">
            <div class ="w-5/6 xl:w-3/6 border-4 border-blue_light_hypnos p-1">
                <form class=" bg-blue_concrete_bg flex flex-col items-center text-lg text-white" method="post">
                    {% if error %}
                        <div class="text-red-700">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3 flex flex-col items-center font-segoe text-sm font-extralight">
                    <span class="my-2 italic">
                        Vous êtes connecté en tant que {{ app.user.username }}
                    </span>
                            <span class="my-2">
                        <a class="bg-yellow_hypnos border border-blue_dark_hypnos py-1 px-2 rounded-xl text-sm text-blue_dark_hypnos" href="{{ path('app_logout') }}">LOGOUT</a>
                    </span>
                        </div>
                    {% endif %}

                    <h1 class="h3 my-5 text-lg font-Volkorn_Regular">SE CONNECTER</h1>
                    <div class="flex flex-col m-4 text-sm">
                        <label class="mr-8" for="inputEmail">Email</label>
                        <div class="flex mb-3">
                        <span class="bg-blue_light_hypnos p-1 h-8 flex justify-center items-center">
                            <i class="fa-solid fa-user m-1 text-black"></i>
                        </span>
                            <input class="bg-white outline-0 h-8 text-blue_dark_hypnos px-3 text-sm py-1 font-open-sans w-60" type="email"  value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>
                    </div>
                    <div class="flex flex-col m-4 text-sm">
                        <label for="inputPassword">Mot de passe</label>
                        <div class="flex mb-1">
                        <span class="bg-blue_light_hypnos p-1 h-8 flex justify-center items-center">
                            <i class="fa-solid fa-lock m-1 text-black"></i>
                        </span>
                            <input class="bg-white outline-0 h-8 text-blue_dark_hypnos px-3 text-lg py-1 font-open-sans w-60" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                        </div>
                        <div class="text-xs hover:font-bold italic"><a href="{{ path('app_forgot_password_request')}}">Mot de passe perdu ?</a></div>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                    See https://symfony.com/doc/current/security/remember_me.html

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Remember me
                        </label>
                    </div>
                    #}

                    <button class="rounded-lg bg-yellow_hypnos my-6 px-2 text-sm py-2 border border-white text-blue_dark_hypnos" type="submit">
                        CONNECTION
                    </button>
                </form>
            </div>

            <a href={{ path('app_register') }}>
                <h2 class="text-blue_dark_hypnos font-bold font-open-sans mt-3">
               <span>
                  <i class="fa-solid fa-circle-arrow-right text-blue_dark_hypnos"></i>
               </span >
                    CREER UN COMPTE
                </h2>
            </a>
            {% for flash_error in app.flashes('verify_email_error') %}
                <div class="text-red-800 text-base absolute bottom-0 px-2 font-bold" role="alert">{{ flash_error }}</div>
            {% endfor %}
            <div class="flash-notice text-orange-800 text-base absolute bottom-0 px-2 font-bold"> {{ app.flashes('notice') | first }} </div>
            <div class="text-green-800 text-base absolute bottom-0 px-2 font-bold" role="alert">{{ app.flashes('success') | first }}</div>
        </div>
        <div class ="w-1/2 hidden md:block bg-bg_contact md:bg-cover bg-center">

        </div>
    </main>
    {{ include('elements/footer.html.twig') }}

{% endblock %}
