{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reservation.id }}</td>
            </tr>
            <tr>
                <th>Beginning_date</th>
                <td>{{ reservation.beginningDate ? reservation.beginningDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Ending_date</th>
                <td>{{ reservation.endingDate ? reservation.endingDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Creation_date</th>
                <td>{{ reservation.creationDate ? reservation.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

    <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}">edit</a>

    {{ include('reservation/_delete_form.html.twig') }}
{% endblock %}
