<header>
    <div class="bg-blue_concrete_bg bg-cover bg-center bg-no-repeat h-24 sm:h-28 bg-fixed text-xl text-white font-open-sans flex justify-center items-center ">
{#        connection space for mobile#}
        {% if app.user %}
            {% if "ROLE_ADMIN" in app.user.roles  %}
                <div class="sm:hidden flex justify-between items-center w-full mx-4">
                    <a class="sm:hidden flex justify-center items-center" href="{{ path('admin') }}">
                        <div class="rounded-full bg-white h-14 w-14 justify-center items-center border-4 border-blue_dark_hypnos flex ">
                            <i class="fa-solid fa-user-check text-blue_light_hypnos"></i>
                        </div>
                        <h1 CLASS="ml-1 sm:hidden text-sm">{{ app.user.firstName }} {{ app.user.lastName |first }}.</h1>
                    </a>
                    <a class="sm:hidden text-xs text-white ml-10" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket text-white"></i> DECONNEXION</a>
                </div>
            {% endif %}
            {% if  "ROLE_MANAGER" in app.user.roles %}
                <div class="sm:hidden flex justify-between items-center w-full mx-4">
                    <a class="sm:hidden flex justify-center items-center" href="{{ path('manager') }}">
                        <div class="rounded-full bg-white h-14 w-14 justify-center items-center border-4 border-blue_dark_hypnos flex ">
                            <i class="fa-solid fa-user-check text-blue_light_hypnos"></i>
                        </div>
                        <h1 CLASS="ml-1 sm:hidden text-sm">{{ app.user.firstName }} {{ app.user.lastName |first }}.</h1>
                    </a>
                    <a class="sm:hidden text-xs text-white ml-10" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket text-white"></i> DECONNEXION</a>
                </div>
            {% endif %}
            {% if "ROLE_SUBSCRIBER" in app.user.roles %}
                <div class="sm:hidden flex justify-between items-center w-full mx-4">
                    <a class="sm:hidden flex justify-center items-center" href="{{ path('my_space') }}">
                        <div class="rounded-full bg-white h-14 w-14 justify-center items-center border-4 border-blue_dark_hypnos flex ">
                            <i class="fa-solid fa-user-check text-blue_light_hypnos"></i>
                        </div>
                        <h1 CLASS="ml-1 sm:hidden text-sm">{{ app.user.firstName }} {{ app.user.lastName |first }}.</h1>
                    </a>
                    <a class="sm:hidden text-xs text-white ml-10" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket text-white"></i> DECONNEXION</a>
                </div>

            {% endif %}
        {% else %}
            <a class="sm:hidden flex justify-center items-center" href="{{ path('app_login') }}">
                <div class="rounded-full bg-white h-14 w-14 justify-center items-center border-4 border-blue_dark_hypnos flex ">
                    <i class="fa-solid fa-user-lock text-black"></i>
                </div>
                <h1 CLASS="ml-1 sm:hidden text-sm">MON ESPACE</h1>
            </a>
        {% endif %}
{#        logo for desktop#}
        <div class="rounded-full bg-white h-20 w-20 justify-center items-center border-4 border-blue_dark_hypnos hidden sm:flex">
            {#import hypnos logo created SVG#}
           {{ include('elements/logo.html.twig') }}
        </div>
    </div>
    <div class="border-b border-blue-900 h-32 sm:h-20 flex justify-center items-center relative">
{#          logo for mobile#}
        <div class="rounded-full bg-white h-20 w-20 justify-center items-center border-4 border-blue_dark_hypnos flex sm:hidden">
            {#import hypnos logo created SVG#}
            {{ include('elements/logo.html.twig') }}
        </div>
        <div class="text-blue_medium_hypnos text-sm justify-around sm:text-xs lg:text-sm sm:w-4/5 xl:w-4/5 hidden sm:flex ">
            <a class="hover:scale-110 hover:border-b-2 border-blue_medium_hypnos" href="{{ path('home') }}">ACCUEIL</a>
            <a class="hover:scale-110 hover:border-b-2 border-blue_medium_hypnos" href="{{ path('etablissement') }}">NOS ETABLISSEMENTS</a>
            <a class="hover:scale-110 hover:border-b-2 border-blue_medium_hypnos" href="{{ path('suite-reservation') }}">RESERVATION</a>
            <a class="hover:scale-110 hover:border-b-2 border-blue_medium_hypnos" href="#">NOUS CONTACTER</a>
            {#        connection space for desktop#}
            {% if app.user %}
                {% if "ROLE_ADMIN" in app.user.roles %}
                    <a class="hidden sm:flex justify-center items-center absolute top-5 right-7" href="{{ path('admin') }}">
                        <div class="rounded-full bg-white h-8 w-8 justify-center items-center border-2 border-blue_dark_hypnos flex ">
                            <i class="fa-solid fa-user-check text-blue_light_hypnos"></i>
                        </div>
                        <h1 CLASS="ml-1 hidden lg:flex text-xs font-bold">{{ app.user.firstName }} {{ app.user.lastName | first }}.</h1>
                    </a>
                    <a class="text-blue_medium_hypnos hover:scale-110 hover:border-b-2 border-blue_medium_hypnos" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket text-blue_light_hypnos"></i> DECONNEXION</a>
                {% elseif "ROLE_MANAGER" in app.user.roles %}
                    <a class="hidden sm:flex justify-center items-center absolute top-5 right-7" href="{{ path('manager') }}">
                        <div class="rounded-full bg-white h-8 w-8 justify-center items-center border-2 border-blue_dark_hypnos flex ">
                            <i class="fa-solid fa-user-check text-blue_light_hypnos"></i>
                        </div>
                        <h1 CLASS="ml-1 hidden lg:flex text-xs font-bold">{{ app.user.firstName }} {{ app.user.lastName | first }}.</h1>
                    </a>
                    <a class="text-blue_medium_hypnos hover:scale-110 hover:border-b-2 border-blue_medium_hypnos" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket text-blue_light_hypnos"></i> DECONNEXION</a>
                {% elseif "ROLE_SUBSCRIBER" in app.user.roles %}
                    <a class="hidden sm:flex justify-center items-center absolute top-5 right-7" href="{{ path('my_space') }}">
                        <div class="rounded-full bg-white h-8 w-8 justify-center items-center border-2 border-blue_dark_hypnos flex ">
                            <i class="fa-solid fa-user-check text-blue_light_hypnos"></i>
                        </div>
                        <h1 CLASS="ml-1 hidden lg:flex text-xs font-bold">{{ app.user.firstName }} {{ app.user.lastName | first }}.</h1>
                    </a>
                    <a class="text-blue_medium_hypnos hover:scale-110 hover:border-b-2 border-blue_medium_hypnos" href="{{ path('app_logout') }}"><i class="fa-solid fa-right-from-bracket text-blue_light_hypnos"></i> DECONNEXION</a>
                {% endif %}
            {% else %}
                <a class="hidden sm:flex justify-center items-center absolute top-5 right-7" href="{{ path('app_login') }}">
                    <div class="rounded-full bg-white h-8 w-8 justify-center items-center border-2 border-blue_dark_hypnos flex ">
                        <i class="fa-solid fa-user-lock text-black"></i>
                    </div>
                    <h1 CLASS="ml-1 hidden md:flex text-xs">MON ESPACE</h1>
                </a>
            {% endif %}
        </div>
        <div id="hamburger-menu" class=" flex flex-col absolute right-6 top-10 sm:hidden ">
            <i class="fa-solid fa-bars fa-2xl text-blue_dark_hypnos"></i>
            <span class="-mt-1 text-blue_dark_hypnos">menu</span>
        </div>
    </div>
    <div id ="mobile-menu" class="border-b border-blue-900 hidden ">
        <div class="sm:hidden flex flex-col text-blue_medium_hypnos">
            <a class=" hover:bg-blue-100 border-blue_medium_hypnos p-2" href="{{ path('home') }}">ACCUEIL</a>
            <a class="hover:bg-blue-100 border-blue_medium_hypnos p-2" href="{{ path('etablissement') }}">NOS ETABLISSEMENTS</a>
            <a class="hover:bg-blue-100 border-blue_medium_hypnos p-2" href="{{ path('suite-reservation') }}">RESERVATION</a>
            <a class="hover:bg-blue-100 border-blue_medium_hypnos p-2" href="#">NOUS CONTACTER</a>
        </div>

    </div>

</header>