{% extends 'base.html.twig' %}
{% block body %}
    {{ include('elements/header.html.twig') }}
    <main class="global-container-all global-container-small flex flex-col items-center justify-center" >
        <div class="border border-blue_dark_hypnos bg-blue_concrete_bg w-5/6 sm:5/6 md:w-4/6 lg:w-3/6 xl:w-2/6 flex flex-col items-center m-4 px-3 shadow-xl">
            <h1 class="text-white font-Volkorn_Regular m-3">RESERVATION</h1>
            {% form_theme reservationForm 'tailwind_2_layout-2.html.twig' %}
            {{ form_start(reservationForm,{'attr':{ 'class':'w-full sm:w-4/5 xl:w-full xl:mx-4 font-light text-sm','id':'reservation'}}) }}
            {{ form_row(reservationForm.etablissement,{'attr':{ 'class':'w-full'}}) }}
            {{ form_row(reservationForm.suite,{'attr':{'class':'mb-4 w-full'}}) }}
            <div id="loader" class="text-white text-xs flex flex-col items-center justify center hidden">
                <i class="fa-solid fa-spinner animate-spin fa-xl mb-2"></i>
                Chargement du calendrier...
            </div>
            <div class="bg-white text-xs" id="calendrier"></div>
            {{ form_row(reservationForm.beginning_date , {
                label: 'Date d\'arrivée',
                attr: { 'class':'flex w-full'},
            }) }}
            {{ form_row(reservationForm.ending_date, {
                label: 'Date de départ',
                attr: { 'class':'flex w-full'}
            }) }}
            <div>
                <p class="h-20 mt-2 text-red-700 text-justify" id="verif_case"></p>
            </div>

            {% if (app.user)  %}
                {% if("ROLE_SUBSCRIBER" in app.user.roles ) %}
                    <div class="w-full flex justify-center">
                        <button type="submit" class="rounded-lg bg-yellow_hypnos my-2 px-2 text-sm py-2 border border-blue_medium_hypnos text-blue_dark_hypnos">RESERVER</button>
                    </div>
                {% else %}
                    <div class="my-8"></div>
                {% endif %}
            {% else %}
                <div class="my-4 italic font-light text-white">
                    <p class="w-full text-center" > Vous devez créer un compte utilisateur pour pouvoir réserver, en suivant <span><a class="text-white text-yellow_hypnos font-bold" href="{{ path('app_register') }}">ce lien</a></span></p>

                </div>
            {% endif %}

            {{ form_end(reservationForm) }}
        </div>
        <p class="text-green-800 text-base bottom-0 px-2 font-bold text-center h-8 my-2" role="alert">{{ app.flashes('success') | first }}</p>
    </main>
    {{ include('elements/footer.html.twig') }}
{% endblock %}
